<div style="border:1px solid rgb(200,200,200); background-color:white; border-radius:5px;
cursor:pointer; padding:10px; margin:5px;"(click)="clickedPhoto(imgProperties.name)"
class="inline">
  <img class="inline"

  style="border-radius:3px; max-height:50px; max-width:100px;"
  src={{imgProperties.uri}}
  (click)="clickedPhoto()"/>
  <div class="inline" style="margin-left:10px;">
   <h5>
     {{imgProperties.name}}
   </h5>
   </div>
   <button class="btn btn-danger"
   data-toggle="tooltip"
   title="Remove from my favorites"
   style="padding:0px; padding-top:-3px; margin-left:10px;height:20px; width:20px;"
   (click)="clickedFavorite()">
     X
   </button>

   <!--
  <div class="inline" style="color:gray;">
    {{imgProperties.dimensions.width}}x{{imgProperties.dimensions.height}}cm
    -
    {{imgProperties.price}}€
  </div>-->
</div>
