<div class="modal-header">
  <h4 class="modal-title">
    {{photoProperties["name"]}}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="center" class="modal-body">
  <div class="center">
    <img [src]="photoProperties['uri']" style="max-width:100%; max-height:400px;"/>
  </div>
  <div class="center cursor-pointer" style="padding-top:10px;padding-bottom:0px;">
    <img class="image-zoom-high" style="width:40px;"
    (click)="clickedFavorite()"
    src="{{photoProperties['isFavorite']
      ?'/assets/icons/heart-fill-red.png'
      :'/assets/icons/heart-gray.png'}}"/>
  </div>
  <hr style="margin-top:5px; margin-bottom:5px;">
  <div >
    Price: {{photoProperties["price"]}}€ <br>
    Dimensions: {{photoProperties["dimensions"]["width"]}} x {{photoProperties["dimensions"]["height"]}} cm <br>
    <div *ngIf="photoProperties['description'] != undefined">
      Description: {{photoProperties["description"]}} <br>
    </div>
  </div>
</div>
