<div style="border:1px solid rgb(200,200,200);
background-color:white;
border-radius:5px;
padding-top:20px;
padding-left:20px;
padding-right:20px;
margin:10px;"
class="inline">
  <div class="center">
    <img style="max-height:180px;max-width:100%;"
     src="/assets/photos/coffre.jpg"/>
   </div>
   <!--
   <hr style="margin:10px;">
 -->
   <h3 align="left" style="padding-top:10px;padding-bottom:3px;">
     Carolina
   </h3>

   <div align="left" style="padding-left:0px;">
    <div class="inline" style="margin:0px; padding:0px;">
      <button style="margin:0px; padding:0px; background-color:rgba(0,0,0,0); border:0px;">
        <img style="width:40px;" src="/assets/icons/heart-gray.png"/>
      </button>
    </div>
    <div class="inline" style="color:gray; margin:0px; padding:0px;margin-left:10px;">
      <p>
        130x192cm - 340€
      </p>
    </div>
   </div>
</div>
