<div style="border:1px solid rgb(200,200,200); background-color:white; border-radius:5px;
padding-top:20px; padding-left:20px; padding-right:20px; margin:10px;"
class="inline">
  <div class="center">
      <img class="image-zoom" style="border-radius:3px;"
      src={{imgProperties.uri}}/>
  </div>
  
   <h5 align="left" style="padding-top:10px;padding-bottom:3px;">
     {{imgProperties.name}}
   </h5>

   <div align="left" style="padding-left:0px;">
    <div class="inline" style="margin:0px; padding:0px;">
      <img class="image-zoom-high"
      style="width:40px; cursor:pointer;"
      (click)="clickedFavorite()"
      src="{{imgProperties.isFavorite
        ?'/assets/icons/heart-fill-red.png'
        :'/assets/icons/heart-gray.png'}}"/>
          <!--onmouseover="this.src='/assets/icons/heart-red.png'"-->
    </div>
    <div class="inline" style="color:gray; margin:0px; padding:0px;margin-left:10px;">
      <p>
        {{imgProperties.dimensions.width}}x{{imgProperties.dimensions.height}}cm
        -
        {{imgProperties.price}}€
      </p>
    </div>
   </div>
</div>
