<br>
<div class="center ar-image" style="border-top:1px solid rgb(150,150,150)">
  <br>
  <div>
    <button class="btn" style="color:rgba(150,50,20); border-radius:0px; padding:5px; padding-bottom:0px;">
      <h4 style="">
        See these photos on your walls  !
      </h4>
    </button>
    <br>
    <button class="btn" style="border-radius:0px; padding:5px; padding-bottom:0px;">
      <h6 style="color:gray;">
        with Augmented Reality...
      </h6>
    </button>
  </div>
  <br>
  <button class="btn btn-danger" style="border-radius:200px; padding-bottom:0px; cursor:pointer;">
    <h5>
      <img src="/assets/icons/play.png" style="width:28px;"/> Watch our DEMO !
    </h5>
  </button>
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div style="border:1px solid rgb(200,200,200); border-radius:3px;margin:5px;
          padding:10px;background-color:rgb(250,250,250)">
          <h5>
            <b>Step 1</b>
          </h5>
          <hr>
          <p align="left">
            > Download the Android app on your spartphone
          </p>
          <a class="btn btn-success" target="_self" href="/assets/apk/ar-photo-visu.apk" download="photo-app.apk">
            download the app <img src="/assets/icons/android-white.png" style="width:24px;"/>
          </a>
          <br><br>
          <p align="left">
            > Open the Android app
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div style="border:1px solid rgb(200,200,200); border-radius:3px;margin:5px;
          padding:10px;background-color:rgb(250,250,250)">
          <h5>
            <b>Step 2</b>
          </h5>
          <hr>
          <p align="left">
            > Print the following marker on an A4 paper
          </p>
          <a class="btn btn-success" target="_self"
          href="/assets/pdf/marker_stones_height20cm.pdf" download="marker.pdf">
            dowload .pdf marker <img src="/assets/icons/pdf-white.png" style="width:24px;"/>
          </a>
          <br><br>
          <p align="left">
            > Fix the printed marker on your wall
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div style="border:1px solid rgb(200,200,200); border-radius:3px;margin:5px;
          padding:10px;background-color:rgb(250,250,250)">
          <h5>
            <b>Step 3</b>
          </h5>
          <hr>
          <p align="left">
            > Generate a CODE*<br>
            <span style="color:rgb(160,160,160); font-size:16px;">
              *whenever you modify your <img style="height:12px" src="./assets/icons/heart-fill-red.png"><br>
              *available 1 hour's time
            </span>
          </p>
          <button class="btn btn-info" style="cursor:pointer;" (click)="clickedGenerateCode()">
            Generate CODE<br>
          </button>
          <br><br>
          <p align="left">
             > Type the CODE <b>{{this.code}}</b> on the Android app
          </p>
          <p align="left">
            > That's it !
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
