<br>
<div class="center ar-image" style="border-top:3px solid rgb(100,100,100)">
  <br>
  <div>
    <button class="btn" style="color:rgba(150,50,20); border-radius:0px; padding:5px; padding-bottom:0px;">
      <h4 style="">
        See these photos on your walls  !
      </h4>
    </button>
    <br>
    <button class="btn" style="border-radius:0px; padding:5px; padding-bottom:0px;">
      <h6 style="color:gray;">
        with Augmented Reality...
      </h6>
    </button>
  </div>
  <br>
  <button class="btn btn-danger" style="border-radius:200px; padding-bottom:0px;">
    <h5>
      <img src="/assets/icons/play.png" style="width:28px;"/> Watch our DEMO !
    </h5>
  </button>
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div style="border:1px solid rgb(200,200,200); border-radius:3px;margin:5px;
          padding:10px;background-color:rgb(250,250,250)">
          <h5>
            Step 1
          </h5>
          <p align="left">
            > Download the Android app on your spartphone
          </p>
          <button class="btn btn-success">
            download the app
          </button>
          <br><br>
          <p align="left">
            > Open the Android app
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div style="border:1px solid rgb(200,200,200); border-radius:3px;margin:5px;
          padding:10px;background-color:rgb(250,250,250)">
          <h5>
            Step 2
          </h5>
          <p align="left">
            > Print the following marker on an A4 paper
          </p>
          <button class="btn btn-success">
            dowload .pdf marker
          </button>
          <br><br>
          <p align="left">
            > Fix it on your wall
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div style="border:1px solid rgb(200,200,200); border-radius:3px;margin:5px;
          padding:10px;background-color:rgb(250,250,250)">
          <h5>
            Step 3
          </h5>
          <p align="left">
            > Generate a CODE*<br>
            <span style="color:rgb(160,160,160); font-size:16px;">
              *whenever you modify your <img style="height:12px" src="./assets/icons/heart-fill-red.png">.
            </span>
          </p>
          <button class="btn btn-info">
            Generate CODE <br>
          </button>
          <br><br>
          <p align="left">
             > Type the CODE <b>2909</b> on the Android app
          </p>
          <p align="left">
            > Whatch your printed A4 paper and you should see your favorite on it !
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
