<div class="inline photo-thumbnail">
  <div class="center">
      <img class="image-zoom" style="border-radius:3px;" src="{{photo.getUri()}}"
      (click)="clickedPhoto()"/>
  </div>

   <h5 align="left" style="padding-top:10px;padding-bottom:3px;">
     {{photo.getName()}}
   </h5>
   <div align="left" style="padding-left:0px;">
    <div class="inline" style="margin:0px; padding:0px;">
      <img class="image-zoom-high cursor-pointer" style="width:40px;"
      (click)="clickedFavorite()"
      src="{{photo.isFavorite()
        ?'/assets/icons/heart-fill-red.png'
        :'/assets/icons/heart-gray.png'}}"/>
          <!--onmouseover="this.src='/assets/icons/heart-red.png'"-->
    </div>
    <div class="inline details-thumbnail-photo">
      <p>
        {{photo.getWidth()}}x{{photo.getHeight()}}cm
        -
        {{photo.getPrice()}}€
      </p>
    </div>
   </div>
</div>
