<div id="app-nav-bar">
  <div class="hamburger-menu-btn" (click)="clickedHamburgerMenu()">
    <img id="hamburger-menu-icon" src="/assets/icons/hamburger-menu.png"/>
  </div>

  <div id="side-bar" *ngIf="isOpenHamburgerMenu">
    <div class="section-side-bar" *ngFor="let section of this.sectionsList"
    [routerLink]="section.getRouterLink()" routerLinkActive="active"
    (click)="setSectionsActiveness(section.getRouterLink())">
      {{section.getTitle()}}
      <img *ngIf="section.getImgUri()!==undefined"
      [src]="section.getImgUri()" style="width:20px;" >
      <span *ngIf="section.getRouterLink()==='my-favorites'" style="font-size:14px">
        ({{this.photosHandler.getFavoritePhotos().length}})
      </span>
    </div>
  </div>

  <div class="horizontal-section-titles">
    <div *ngFor="let section of this.sectionsList" [ngClass]="section.getClassName()"
    [routerLink]="section.getRouterLink()" routerLinkActive="active"
    (click)="setSectionsActiveness(section.getRouterLink())">
      {{section.getTitle()}}
      <img *ngIf="section.getImgUri() !== undefined" [src]="section.getImgUri()" style="width:20px;" >
      <span *ngIf="section.getRouterLink() === 'my-favorites'" style="font-size:14px" >
        ({{this.photosHandler.getFavoritePhotos().length}})
      </span>
    </div>
  </div>
</div>
