<div class="modal-header">
  <h4 class="modal-title">
    {{photo.getName()}}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="center" class="modal-body">
  <div class="center">
    <img [src]="photo.getUri()" style="max-width:100%; max-height:400px;"/>
  </div>
  <div class="center cursor-pointer" style="padding-top:10px;padding-bottom:0px;">
    <img class="image-zoom-high" style="width:40px;"
    (click)="clickedFavorite()"
    src="{{photo.isFavorite()
      ?'/assets/icons/heart-fill-red.png'
      :'/assets/icons/heart-gray.png'}}"/>
  </div>
  <hr style="margin-top:5px; margin-bottom:5px;">
  <div >
    Price: {{photo.getPrice()}}€ <br>
    Dimensions: {{photo.getWidth()}} x {{photo.getHeight()}} cm <br>
    <div *ngIf="photo.getDescription() != undefined">
      Description: {{photo.getDescription()}} <br>
    </div>
  </div>
</div>
