<div class="center"
style="background-color:rgb(30,30,30); position:fixed; z-index:1; width:100%;
border-bottom:0px solid black;
justify-content: center; display: flex;">
  <div *ngFor="let section of this.listSections"
  [routerLink]="section['routerLink']"
  routerLinkActive="active"
  [ngClass]="section['class']"
  (click)="setActiveSection(section['routerLink'])">
    {{section["text"]}}
    <img *ngIf="section['imgUri']!==undefined"
    [src]="section['imgUri']" style="width:20px;" >
    <span style="font-size:14px" *ngIf="section['routerLink']==='my-favorites'">
      ({{this.photosHandler.getFavoritePhotos().length}})
    </span>
  </div>
</div>
