<div class="center ar-background">
  
  <h4>
    See photos on your own walls with <span style="color: #e04b4b; font-weight: bold;">Augmented Reality</span>!
  </h4>

  <div class="container-fluid" style="padding: 15px;">
    <div class="row">
      <div class="col-lg-4">
        <div class="ar-step-div">
          <h5>
            <b>Step 1</b>
          </h5>
          <hr>
          <p class="ar-guidelines-text">
            a. Download the Android APK on your spartphone:
          </p>
          <a class="btn btn-success" target="_self" href="/assets/apk/ar-photo-visu.apk" download="photo-app.apk">
            Download app <img src="/assets/icons/android-white.png" style="width:24px;"/>
          </a>
          <p class="ar-guidelines-text">
            b. Install the app.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ar-step-div">
          <h5>
            <b>Step 2</b>
          </h5>
          <hr>
          <p class="ar-guidelines-text">
            a. Print the marker on an A4 paper:
          </p>
          <a class="btn btn-success" target="_self" href="/assets/pdf/marker_stones_height20cm.pdf" download="marker.pdf">
            Dowload marker <img src="/assets/icons/pdf-white.png" style="width:24px;"/>
          </a>
          <p class="ar-guidelines-text">
            b. Fix the marker on the wall where you want to display the photo.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ar-step-div">
          <h5>
            <b>Step 3</b>
          </h5>
          <hr>
          <p class="ar-guidelines-text">
            b. Generate your session CODE:
          </p>
          <button class="btn btn-info cursor-pointer" (click)="clickedGenerateCode()">
            Generate CODE<br>
          </button>
          <p class="ar-guidelines-text">
            c. Open the Android app.
          </p>
          <p class="ar-guidelines-text">
            d. In the app, enter your CODE{{this.sessionCode ? ': ' + this.sessionCode : ''}}.
          </p>
          <p class="ar-guidelines-text">
            e. In the app, point the camera toward the tracker on the wall.
          </p>
          <p class="ar-guidelines-text">
            f. The magic should happen!
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
