<br>
<div class="center ar-background">
  <br>
  <div class="ar-title">
    <div>
      <h4>
        See your <img style="height:24px" src="./assets/icons/heart-fill-red.png"> photos on your walls  !
      </h4>
    </div>
    <div>
      <h6>
        with Augmented Reality...
      </h6>
    </div>
  </div>
  <br>
  <button id="demo-button" class="btn btn-danger cursor-pointer border-round" >
    <h5>
      <img src="/assets/icons/play.png" style="width:28px;"/> Watch the DEMO
    </h5>
  </button>
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="ar-step-div">
          <h5>
            <b>Step 1</b>
          </h5>
          <hr>
          <p align="left">
            > Download the Android app on your spartphone
          </p>
          <a class="btn btn-success" target="_self" href="/assets/apk/ar-photo-visu.apk" download="photo-app.apk">
            Download the app <img src="/assets/icons/android-white.png" style="width:24px;"/>
          </a>
          <br><br>
          <p align="left">
            > Open the Android app
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ar-step-div">
          <h5>
            <b>Step 2</b>
          </h5>
          <hr>
          <p align="left">
            > Print the following marker on an A4 paper
          </p>
          <a class="btn btn-success" target="_self" href="/assets/pdf/marker_stones_height20cm.pdf" download="marker.pdf">
            Dowload the .pdf marker <img src="/assets/icons/pdf-white.png" style="width:24px;"/>
          </a>
          <br><br>
          <p align="left">
            > Fix the printed marker on your wall
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ar-step-div">
          <h5>
            <b>Step 3</b>
          </h5>
          <hr>
          <p align="left">
            > Generate a CODE*<br>
            <span id="step-caption">
              *whenever you modify your <img style="height:12px" src="./assets/icons/heart-fill-red.png"><br>
              *available 1 hour's time
            </span>
          </p>
          <button class="btn btn-info cursor-pointer" (click)="clickedGenerateCode()">
            Generate CODE<br>
          </button>
          <br><br>
          <p align="left">
             > Type the CODE <b>{{this.sessionCode}}</b> on the Android app
          </p>
          <p align="left">
            > That's it !
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
