/* You can add global styles to this file, and also import other style files */
.center {
  text-align:center;
}

.inline
{
  display: inline-block;
}

.item-photo {
  background-color: white;
}
.item-photo:hover {
  background-color: rgb(245,245,245);
}

div .nav-bar {
  text-align: center;
  color:red;
  background-color:rgb(30,30,30);
  border-bottom:0px solid black;
  width:100%;
  display: flex;
  justify-content: center;
  position:fixed;
  z-index:1;
  min-height: 45px;
}
div .nav-title {
  margin-left:10px;
  padding: 10px;
  display: inline;
  font-size: 22px;
  padding-bottom:0px;
}
div .nav-title:hover {
  color:rgb(200,200,200);
  border-bottom:4px solid rgb(220,220,220);
  cursor:pointer;
}
div .section-on {
  color:white;
  border-bottom:4px solid rgba(220,220,220);
}
div .section-off {
  color:rgb(150,150,150);
  border-bottom:3px solid rgb(150,150,150);
}
div .nav-icon {
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 2;
}
div .active-section-title {
  display: none;
  margin-left:10px;
  padding: 10px;
  font-size: 22px;
  padding-bottom:0px;
  color:white;
  border-bottom:4px solid rgba(220,220,220);
}
div .side-bar {
  display:none;
  position: absolute;
}
div .section-side-bar {
  cursor:pointer;
  background-color:rgb(30,30,30);
  color:rgba(170,170,170);
  font-size:18px;
  padding:10px;
  margin:5px;
}
div .section-side-bar:hover {
  cursor:pointer;
  background-color:rgb(30,30,30);
  color:rgba(230,230,230);
  font-size:18px;
  padding:10px;
  margin:5px;
}
@media screen and (max-width: 500px) {
  div .nav-title {display: none;}
  div .active-section-title {display: inline;}
  div .nav-icon {display: inline;}
  div .side-bar {display: inline;}
}

.image-zoom {
  max-height:180px;
  max-width:100%;
  cursor:pointer;
  -webkit-transition: all 0.2s ease; /* Safari and Chrome */
  -moz-transition: all 0.2s ease; /* Firefox */
  -ms-transition: all 0.2s ease; /* IE 9 */
  -o-transition: all 0.2s ease; /* Opera */
  transition: all 0.2s ease;
}
.image-zoom:hover {
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
   transform:scale(1.05);
}

.image-zoom-high {
  max-height:180px;
  max-width:100%;
  cursor:pointer;
  -webkit-transition: all 0.2s ease; /* Safari and Chrome */
  -moz-transition: all 0.2s ease; /* Firefox */
  -ms-transition: all 0.2s ease; /* IE 9 */
  -o-transition: all 0.2s ease; /* Opera */
  transition: all 0.2s ease;
}
.image-zoom-high:hover {
  -webkit-transform:scale(1.2); /* Safari and Chrome */
  -moz-transform:scale(1.2); /* Firefox */
  -ms-transform:scale(1.2); /* IE 9 */
  -o-transform:scale(1.2); /* Opera */
   transform:scale(1.2);
}

.wallpaper {
  background-image: url("/assets/wallpaper/tile-light-light.png");
  background-repeat: repeat;
}

.ar-image {
  /*background-image: url("/assets/images/augmented-reality-4.jpg");*/
  background-image: url("/assets/wallpaper/tile-blue.png");
  background-repeat: repeat;
  /*background-color: rgba(200,210,220);
  /* Full height */
  width: 100%;
  /* Center and scale the image nicely */
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
