/* You can add global styles to this file, and also import other style files */
.center {
  text-align:center;
}

.inline
{
  display: inline-block;
}

.item-photo {
  background-color: white;
}
.item-photo:hover {
  background-color: rgb(245,245,245);
}

/* Add a black background color to the top navigation */
.topnav {
  text-align: center;
  background-color: white;/*rgb(240,240,240);*/
  padding-left:20px;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
  border-bottom:1px solid rgb(200,200,200);
}



div .nav-title {
  margin-left:10px;
  padding: 10px;
  display: inline;
  font-size: 22px;
  padding-bottom:0px;
}
div .nav-title:hover {
  color:rgb(200,200,200);
  border-bottom:4px solid rgb(220,220,220);
  cursor:pointer;
}
div .section-on {
  color:white;
  border-bottom:4px solid rgba(220,220,220);
}
div .section-off {
  color:rgb(150,150,150);
  border-bottom:3px solid rgb(150,150,150);
}


.image-zoom {
  max-height:180px;
  max-width:100%;
  cursor:pointer;
  -webkit-transition: all 0.2s ease; /* Safari and Chrome */
  -moz-transition: all 0.2s ease; /* Firefox */
  -ms-transition: all 0.2s ease; /* IE 9 */
  -o-transition: all 0.2s ease; /* Opera */
  transition: all 0.2s ease;
}

.image-zoom:hover {
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
   transform:scale(1.05);
}

.image-zoom-high {
  max-height:180px;
  max-width:100%;
  cursor:pointer;
  -webkit-transition: all 0.2s ease; /* Safari and Chrome */
  -moz-transition: all 0.2s ease; /* Firefox */
  -ms-transition: all 0.2s ease; /* IE 9 */
  -o-transition: all 0.2s ease; /* Opera */
  transition: all 0.2s ease;
}

.image-zoom-high:hover {
  -webkit-transform:scale(1.2); /* Safari and Chrome */
  -moz-transform:scale(1.2); /* Firefox */
  -ms-transform:scale(1.2); /* IE 9 */
  -o-transform:scale(1.2); /* Opera */
   transform:scale(1.2);
}


.wallpaper {
  background-image: url("/assets/wallpaper/tile-light-light.png");
  background-repeat: repeat;
}


.ar-image {
  /*background-image: url("/assets/images/augmented-reality-4.jpg");*/

  background-image: url("/assets/wallpaper/tile-red-light-light.png");
  background-repeat: repeat;
  /*background-color: rgba(200,210,220);
  /* Full height */
  width: 100%;
  /* Center and scale the image nicely */
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
